:host {
    display: block;
    background-color: lightblue;
  
      border-width: 0.1rem;
      border-style: solid;
      border-color: black;
  
      margin: 2px;
      padding:5px;
  
  }